<div class="table">
<%= form_with(model: @patient_card) do |form| %>
  <% if @patient_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient_card.errors.count, "error") %> prohibited this patient card from being saved:</h2>

      <ul>
        <% @patient_card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="table">
    <%= form.label :patient_id %>
    <%= form.collection_select :patient_id, Patient.all, :id, :last_name, prompt: true %>
  </div>

  <div class="table">
    <%= form.label :department_id %>
    <%= form.collection_select :department_id, Department.all, :id, :name, prompt: true %>
  </div>

  <div class="table">
    <%= form.label :doctor_id %>
    <%= form.collection_select :doctor_id, Doctor.all, :id, :name, prompt: true %>
  </div>

  <div class="table">
    <%= form.submit 'Save', class: 'btn' %>
  </div>
<% end %>
</div>