<div class="table">
  <%= form_with(model: @specialization) do |form| %>
    <% if @specialization.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@specialization.errors.count, "error") %> prohibited this specialization from being
          saved:</h2>

        <ul>
          <% @specialization.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="table">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="table">
      <%= form.submit 'Save', class: 'btn' %>
    </div>
  <% end %>
</div>