<div class="table">
<%= form_with(model: @patient) do |form| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% @patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="table">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="table">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="talbe">
    <%= form.label :date_of_birth %>
    <%= form.date_field :date_of_birth %>
  </div>

  <div class="table">
    <%= form.submit 'Save', class: 'btn' %>
  </div>
<% end %>
</div>