<h1>Doctors</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Department</th>
    <th>Specialization</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @doctors.each do |doctor| %>
    <tr>
      <td><%= doctor.name %></td>
      <td><%= doctor.department.name %></td>
      <td><%= doctor.specialization %></td>
      <td><%= link_to 'Show', doctor %></td>
      <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
      <td>
        <%= form_with(model: doctor, url: doctor_path(doctor), method: :delete, data: { confirm: 'Are you sure?' }) do |form| %>
          <%= form.submit 'Destroy' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doctor', new_doctor_path %>
